/*--------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------ARTICLE-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

.article-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    min-height: 60px;
    border-radius: var(--border-radius-main);
    border: var(--border);
    box-shadow: var(--box-shadow-main);
    background: #ffffff;
}

.article-edit-box-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 30px;
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius-main);
    background: var(--second-color);
}
.article-edit-blog-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10px;
    text-shadow: 0px 0px 3px #111111;
    color: #ffffff;
}
.article-edit-box-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 5px;
    text-shadow: 0px 0px 3px #111111;
    color: #ffffff;
}

.article-edit-box-button i{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0px;
    font-size: 16px;
    text-align: center;
    width: 40px;
    height: 20px;
}

.article-edit-box-button p{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 20px;
    margin: 0px;
    font-size: 11px;
    background: var(--main-color);
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.article-blog-post{
    width: 100%;
    border-radius: var(--border-radius-main);
    min-height: 60px;
    max-height: 200px;
    padding:10px 15px;
    resize:vertical;
    border: var(--border);
    font-family: Arial;
}

.article-blog-wrap{
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    background: transparent;
    min-height: 30px
}

.article-smile-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}





.art-post-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 20px;
    margin: 25px 0px;
    border: 1px solid #afafaf;
    /* border-bottom: 15px solid #cccccc; */
    border-radius: 6px;
    padding: 5px 0px;
    background: #fafafa;
    /* overflow: hidden; */
}

.art-post-header{
    width: 98%;
    min-height: 30px;
    padding: 5px 0px;
    background: transparent;
}

.art-post-header-per{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 98%;
    min-height: 30px;
    padding: 0px 15px 3px 15px;
    background: transparent;
}

.art-post-body{
    width: 98%;
    min-height: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 12px 7px;
    margin: 0px 0px 10px 0px;
    background: #ffffff;
    border: 1px solid #c1c1c1;
    /* border-bottom: 1px solid #c1c1c1; */
    /* border-top: 1px solid #c1c1c1; */
    border-radius: 0px 4px 4px 4px;
    color: #111111;
    word-break: break-word;
}

.art-post-body p{
    margin: 0px;
    font-size: 14px;
}

.art-post-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    min-height: 34px;
    background: transparent;
}

.post_header_img, .post_header_img_per, .post_header_img_who{ 
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    margin: 0px 10px 0px 5px;
    float: left;
    box-shadow: 0px 0px 0px grey;
    background-color: #f1f1f1;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.post_header_img_per {
    width: 24px;
    height: 24px;
    border-radius: 5px;
}

.post_header_name, .post_header_name_per{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    float: left;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
}

.post_header_name p{
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
}

.post_header_name_per p{
    margin: 0px;
    font-size: 10px;
    font-weight: bold;
}

.post_header_name p:last-child{
    margin: 0px;
    font-size: 10px;
    font-weight: bold;
    color: grey;
}

.post_header_name_per p:last-child{
    margin: 0px;
    font-size: 8px;
    font-weight: bold;
    color: grey;
}

.post_header_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    padding: 0px 7px;
    height: 25px;
    float: right;
}

.post-header-arrow{
    width: 15px;
    height: 16px;
    font-size: 11px;
    color: grey;
    transform: rotate(-180deg);
}

.post-header-arrow .myarrow{
    color: green;
    transform: rotateX(-180deg);
    transform: rotateY(-180deg);
}

.art-post-footer-like-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    min-width: 140px;
    max-width: 193px;
}

.art-post-footer-com-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px;
    min-width: 100px;
    max-width: 130px;
}

.art-post-footer-like{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background: #ffffff;
    padding: 1px 3px;
    height: 24px;
    margin: 0px 3px;
}

.art-post-footer-like > span{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    /* background: red; */
    border-radius: 50%;
    font-size: 9px;
    margin: 0px;
    width: 18px;
    height: 18px;    
}

.art-post-footer-like > div{
    cursor: pointer;
    color: #111111;
    margin: 0px;
    padding: 0px 3px 0px 3px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.art-post-footer-like > div > div{
    width: 180px;
    display: table;
    font-weight: normal;
    min-height: 24px;
    background: #383838;
    color: #ffffff;
    border: 1px solid #969696;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    left: -8px;
    z-index: 5;
}

.art-post-footer-like > div > div::before{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #383838;
    position: absolute;
    z-index: -1;
    bottom: 1px;
    transform: skewY(-42deg) rotate(-1deg);
    left: 10px;
}

.art-post-footer-like > div > div > p{
    border-bottom: 1px solid #383838;
    margin: 0px;
    display: table;
}

.art-post-footer-like > div > div > p:hover{
    border-bottom: 1px solid rgb(143, 143, 143);
    text-shadow: 0px 0px 2px #ffffff;
}

.art-post-footer-com-wrap > i{
    cursor: pointer;
    color: #484848;
}

.likelist-share{
    left: -150px!important;
}

.likelist-share::before{
    transform: skewY(248deg) rotate(-238deg)!important;
    left: 133px!important;
    bottom: 12px!important;
}

.art-post-footer-com{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background: #ffffff;
    padding: 1px 2px;
    height: 24px;
    margin: 0px 3px;
}

.art-post-footer-com > span{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(#d6d6d6, #8c8c8c);
    border-radius: 3px;
    border: 1px solid #a7a7a7;
    font-size: 13px;
    margin: 0px 0px 0px 3px;
    width: 25px;
    height: 18px;  
}

.art-post-footer-com > p {
    cursor: pointer;
    color: #111111;
    margin: 0px;
    padding: 0px 2px 0px 2px;
    font-size: 12px;
    font-weight: bold;
}

.art-post-footer-com > i {
    cursor: pointer;
    color: #111111;
    margin: 0px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
}

.art-post-message{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 98%;
}

.post-message-prof-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #3a3a3a;
    width: 100%;
    color: #ffffff;
    padding: 3px 0px;
    margin: 5px 0px 0px 0px;
    border-radius: 5px;
    background: #797979;
    height: 36px;
}

.post-message-prof-wrap p{
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}

.post-message-prof-wrap p:nth-child(2){
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #b9b9b9;
    margin: 2px 5px;
    padding: 2px 8px;
    height: 25px;
    background: linear-gradient(#38a7fc, #195df1);
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 0px #ffffff;
}

.post-message-prof-wrap p:nth-child(2):hover{
    box-shadow: 0px 0px 2px #ffffff;
}

.post-message-prof-wrap p:last-child{
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #b9b9b9;
    margin: 2px 2px;
    padding: 3px 8px;
    height: 25px;
    background: linear-gradient(#fb5c71, #e94055);
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0px 0px 0px #ffffff;
}

.post-message-prof-wrap p:last-child:hover{
    box-shadow: 0px 0px 2px #ffffff;
}

.repost-mess{
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 36px;
    color: #ffffff;
    padding: 7px;
    margin: 5px 0px 0px 0px;
    text-align: center;
    border-radius: 7px;
    background: #797979;
}

.post_header_who{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 98%;
    min-height: 15px;
    padding: 0px;
    margin-top: 15px;
    background: transparent;
}

.post_header_wrap_who{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 270px;
    min-height: 15px;
    padding: 2px 5px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-radius: 5px 15px 0px 0px;
    background: #ebebeb;
    overflow: hidden;
}

.post_header_name_who p{
    cursor: pointer;
    margin: 0px;
    float: left;
    font-size: 11px;
    font-weight: bold;
    color: #464646;
}

.postwasdell{
    width: 98%;
    height: 22px;
    background: #ebebeb;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    color: #3e3e3e;
    border: 1px solid #cccccc;
    border-radius: 6px;
    text-align: center;
}

.postwasdell p{
    margin: 0px;
}

.like-all-wrap{
    width: 100%;
    min-height: 20px;
    max-height: 400px;
    border-radius: 6px;
    background: #505050;
    color: #ffffff;
    display: flex;
    padding: 5px 1px;
    margin: 7px 0px;
    overflow-x: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.like-all-wrap > p:first-child {
    width: 100%;
    height: 32px;
    padding: 6px 10px 0px 0px;
    text-align: right;
    margin: 0px;
}

.like-all-wrap-body{
    cursor: pointer;
    display: flex;
    width: 156px;
    height: 22px;
    border-radius: 4px;
    padding: 1px;
    margin: 2px;
    overflow: hidden;
    background: #ffffff;
    color: #111111;
}

.like-all-wrap-body > p{
    margin: 0px;
    width: 135px;
    height: 20px;
    overflow: hidden;
    font-size: 13px;
    padding: 2px;
}

.like-all-wrap-body > span{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background: #ffffff;
    background-size: cover;
}

.post-com-wrap{
    width: 100%;
    min-height: 30px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    margin: 9px 0px;
}

.post-com-write{
    outline: 1px solid red;
    width: 100%;
    height: 40px;
    padding: 3px 0px;
}

.post-com-com{
    outline: 1px solid green;
    width: 100%;
    min-height: 10px;
    padding: 3px 0px;
}