.form_body_wrap{
    width: 70%;
    max-width: 600px;
    margin: 100px auto;
    border: 15px solid #94adc6;
    border-radius: 90px 10px;
}
.form_wrap{
    width: 100%;
    position: relative;
    padding: 25px 0px;
    border: 5px solid #ffffff;
    border-radius: 80px 10px;
    background: #bed3e8;
}

.form_toback{
    cursor: pointer;
    margin: -35px 5px;
    float: right;
    font-size: 11px;
    font-weight: bold;
    color: var(--main-color);
    text-shadow: var(--text-shadow-main);
}

.form_blok{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 6px 5%;
    background: #6b92b9;
    border: 2px solid #2c5a88;
    border-bottom: 4px solid #2c5a88;
    border-radius: 25px 7px;
}

/*label*/
.form_label, .form_input, .form_message{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    outline: 0px solid red;
    width: 31.3%;
    min-height: 40px;
    min-width: 150px;
    margin: 2px 1%;
    position: relative;
}

.password{
    height: 60px;
}

.password input{
    margin-bottom: 3px;
}

.form_label p{
    width: 100%;
    color:#ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin: 0px;
    text-shadow: 0px 0px 1px #111111;
}

/*input*/
.form_input > input{
    outline: 0!important;
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 15px 6px;
    border: 1px solid #1d3754;
    border-bottom: 3px solid #274e78;
}

.tel_blok{
    width: 100%;
    display: flex;
}

.tel_blok > .tel_cod{
    outline: 0!important;
    width: 32%;
    margin-right: 3%;
    height: 30px;
    text-align: center;
    border-radius: 15px 6px;
    border: 1px solid #1d3754;
    border-bottom: 3px solid #274e78;
}

.tel_blok > .tel_nomer{
    outline: 0!important;
    width: 65%;
    height: 30px;
    text-align: center;
    border-radius: 15px 6px;
    border: 1px solid #1d3754;
    border-bottom: 3px solid #274e78;
}

.form_input input:focus{
    box-shadow: var(--box-shadow-main);
}

.required input{
    border: 1px solid #021f3c;
    border-bottom: 3px solid #022546;
}

.required-block{
    background: #44709c;
}

/*input select*/
.form_input select{
    outline: 0!important;
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 15px 6px;
    border: 1px solid #1d3754;
    border-bottom: 3px solid #274e78;
}

/*input file*/
.form_input_file::-webkit-file-upload-button {
    visibility: hidden;
}

.form_input_file::before {
    content: "select file";
    width: 90%;
    display: inline-block;
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 10pt;
}

.form_input_file:hover::before {
    text-shadow: 0px 0px 1px #111111;
}

.form_input_file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/*wrap for send button*/
.form_blok_send{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 16px 5% 4px 5%;
}

/*send button*/
.reg-form-send{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: no-drop;
    width: 90%;
    height: 35px;
    margin: 6px 5%;
    background: #8297ac;
    border: 2px solid #738ba2;
    border-bottom: 4px solid #5d84ab;
    border-radius: 25px 7px;
}

.reg_send_active{
    cursor: pointer;
    background: #44709c;
    border: 2px solid #2c5a88;
    border-bottom: 4px solid #2c5a88;
}

.reg_send_active:hover{
    box-shadow: 0px 0px 3px #111111;
}

.icon_share{
    position: relative;
    width: 0px;
    height: 0px;
}
.icon_share i{
    cursor: pointer;
    position: absolute;
    transform: rotateY(190deg);
    font-size: 22px;
    top: 37px;
    right: -25px;
    color: #2c5a88;
    text-shadow: 0px 0px 3px #ffffff;
}

/*message*/
.reg-message{
    width: 50%;
    height: 8px;
    margin: 0px;
    background: #cbcbcb;
    border-radius:5px; 
}

.reg-message-false{
    min-width: 50%;
    width: 95%;
    display: table;
    font-size: 11px;
    margin: 0px;
    padding: 2px 3px;
    color: #ffffff;
    background: #cb0000;
    border: 1px solid #c7c7c7;
    border-radius: 5px 5px 15px 5px;
}

.reg-message-true{
    width: 50%;
    height: 9px;
    margin: 0px;
    background: #00cb17;
    border: 1px solid #c7c7c7;
    border-radius:5px; 
}

.main-form-message{
    color: red;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.reg-ava{
    max-width: 100%; 
    max-height: 110px;
    margin: 3px auto;
    border: 3px solid #e0e0e0;
}

.file-ava{
    margin: 1px 0px;
}

.password_eye{
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    top: 7px;
    right: 7px;
}

.password_eye2{
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    top: 41px;
    right: 7px;
}

.logo-form{
    position: absolute;
    width: 300px;
    top: 30px;
}

.ava-preview-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    margin: 0px 22%;
    width: 56%;
    bottom: 15px;
    height: 330px;
    box-shadow: 0px 0px 3px #ffffff;
    border: 3px solid #2c5a88;
    border-radius: 9px;
    background: #ffffff;
}

.ava-preview-body{
    width: 100%;
    height: 280px;
    position: relative;
}

.ava-preview-foto-wrap{
    width: 268px;
    height: 268px;
    position: relative;
    margin: 10px auto;
    border: 2px solid #2c5a88;
    border-radius: 9px
}

.ava-preview-foto{
    width: 100%;
    height: 100%;
    position: relative;
    border: 4px solid #ffffff;
    border-radius: 9px;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 50% 50%;
}

.rande-hor{
    position: absolute;
    right: 35px;
    top: 10px;
    width: 80%;
}

.rande-vert{
    position: absolute;
    transform: rotateZ(90deg);
    right: -80px;
    top: 118px;
    width: 80%;
}

.ava-preview-button-wrap{
    position: relative;
    width: 100%;
    height: 30px;
}

.ava-preview-button{
    cursor: pointer;
    position: relative;
    margin: 0px auto;
    padding:4px;
    width: 100px;
    height: 30px;
    text-align: center;
}

.ava-preview-button p{
    margin: 0px;
}

/*range input*/
input[type=range] {
    height: 1px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 75%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 50px;
    border: 2px solid #ffffff;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 6px;
    width: 20px;
    border-radius: 10px;
    background: #529DE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 50px;
    border: 2px solid #ffffff;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 6px;
    width: 20px;
    border-radius: 18px;
    background: #529DE1;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-thumb {
    margin-top: 0px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 6px;
    width: 20px;
    border-radius: 18px;
    background: #529DE1;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
  }

@media screen and (max-width:850px){
    .form_body_wrap {width: 95%;}
    .form_input_file::before {width: 95%;}
}

@media screen and (max-width:660px){
    .form_body_wrap {width: 98%;}
    .form_input_file::before {width: 95%;}
    .form_label, .form_input, .form_message {
        width: 50%;
        min-height: 15px;
    }
    .form_input > input {margin-top: -4px;}
    .form_input select {margin-top: -4px;}
    .tel_blok > .tel_nomer {margin-top: -4px;}
    .icon_share i {
        top: 18px;
        right: -145px;
    }
    .password > input:first-child {margin-top: -50px;}
    .password > p:last-child {margin-top: 35px;}
    .password{height: 50px;}
    .password:last-child{height: 20px;}
    .password_eye{top: -30px;}    
    .password_eye2{top: 18px;}
}
@media screen and (max-width:600px){
    .icon_share i {right: -135px;}
}
@media screen and (max-width:550px){
    .icon_share i {right: -125px;}
}
@media screen and (max-width:500px){
    .icon_share i {right: -115px;}
}

@media screen and (max-width:450px){
    .form_label, .form_input, .form_message {
        width: 90%;
        min-height: 15px;
    }
    .form_input > input {margin-top: -4px;}
    .icon_share i {right: -27px;}
    .password > input:first-child {margin-top: -50px;}
    .password > p:last-child {margin-top: 35px;}
    .password{height: 50px;}
    .password:last-child{height: 20px;}
    .logo-form{width: 220px;}
}