.wrap{
    min-height: 100vh;
    min-width: 302px;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto auto 120px auto 150px 50px;   
    grid-template-areas: 'set'
                         'side'
                         'nav'
                         'article'
                         'blok'
                         'footer';
}

/*--------------------------HEADER-----------------------------*/
.wrap_header{
    min-height: 70px;
    min-width: 302px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;   
    grid-gap: 1px; 
    grid-template-areas: 'header';
}

.header_logo, .header_search, .header_button{
    width: 60%;
    min-width: 240px;
    min-height: 50px;
}

/*logo*/
.header_logo{
    order: 1;
}
.header_logo img{
    width: 90%;
}

/*search*/
.header_search{
    order: 3;
} 
.header_search input{
    width: 90%;
}
.header_search i{
    right: 5.5%;
    top: 12px;
}
.header_search .user_list{
    top: 50px;
    left: 5%;
    width: 90%;
    z-index: 1;
}

/*button*/
.header_button{
    order: 2;
}
.click {
    margin: 0px 20px 17px 20px;
}
.click-login-open{
    width: 145px;
}
.click-login-open input{
    width: 45%;
}
.registration{
    right: 7.5%;
    top: 24px;
}

/*------------------------EMPTY BLOKS---------------------------*/
.out1{
    display: none;
}

.out2{
    display: none;
}

.side_sub{
    margin: 5px;
}

.header, .nav, .article{
    margin: 5px;
}

.blok{
    margin-top: 10px;
}

/*--------------------------SETTING-------------------------------*/
.set{
    position: relative;
    width: 97%;
    padding: 10px;
    margin: 5px;
    top: 0px;
    right: 0px;
    border-radius: var(--border-radius-main);
    border: var(--border-color-content);
    box-shadow: var(--box-shadow-content);
    background: var(--bg-color-content);
}

.set_close{
    position: relative;
    width: 97%;
    height: 41px;
    padding: 10px;
    margin: 5px;
    top: 0px;
    right: 0px;
    overflow: hidden;
    border-radius: var(--border-radius-main);
    border: var(--border-color-content);
    box-shadow: var(--box-shadow-content);
    background: var(--bg-color-content);
}

.set_blok_lang{
    cursor: pointer;
    width: 200px;
    min-height: 30px;
    border-radius: 7px;
    border: 0px solid #cdcdcd;
    margin: -1px auto 37px auto;
}

.set_blok_lang:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px #c2c2c200;
}

.setting{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin: 2.5px;
    left: 0%;
    right: 100%;
    transition: 1s;
}

.setting_close{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin: 2.5px;
    left: 101%;
    right: 0%;
    transform: translateX(-45px);
    transition: 1s;
}

.setting i{
    font-size:24px;
    margin: -2px 0px 0px -10px;
}

.setting_close i{
    font-size:24px;
    margin: -2px 0px 0px -10px;
}

@media screen and (min-width:500px) and (max-width:766px){
    .set{width: 98%}
    .set_close{width: 98%}
}

@media screen and (min-width:400px) and (max-width:499px){
    .set{width: 97.5%}
    .set_close{width: 97.5%}    
}




