.wrap{
    min-height: 100vh;
    min-width: 302px;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto auto auto 120px;   
    grid-template-areas: 'side'
                         'content'
                         'blok'
                         'footer';
}

/*--------------------------HEADER-----------------------------*/


.wrap_header{
    min-height: 70px;
    min-width: 302px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;   
    grid-gap: 1px; 
    grid-template-areas: 'header';
}

.header_logo, .header_search, .header_button{
    width: 240px;
    min-width: 240px;
    min-height: 50px;
}

/*logo*/
.header_logo{
    order: 1;
    margin: auto;
}
.header_logo img{
    width: 90%;
}

/*search*/
.header_search{
    order: 3;
    margin: auto;
} 
.header_search input{
    width: 88%;
}
.header_search i{
    right: 5.5%;
    top: 12px;
}
.header_search .user_list{
    top: 50px;
    left: 6%;
    width: 88%;
    z-index: 5;
}

/*button*/
.header_button{
    order: 2;
    margin: auto;
}
.header-login {
    padding: 10px 0px;
    height: 60px;
}
.click {
    margin: 10px 18px 5px 20px;
}
.click-login-open{
    width: 145px;
}
.click-login-open input{
    width: 45%;
}
.registration{
    right: 8%;
    bottom: 0%;
}
.login-message {
    bottom: 1%;
    width: 212px;
    text-align: center;
    right: 6%;
    position: relative;
}

.social-login-wrap{
    height: 50px;
    padding: 2px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.social-login-wrap img{
    height: 42px;
    margin: 0px 1px 10px 1px;
}

/*------------------------EMPTY BLOKS---------------------------*/
.out1{
    display: none;
}

.out2{
    display: none;
}

.side_sub{
    margin: 5px;
}

.naw-wrap {
    margin: 10px 0px;
}

.naw-body{
    padding: 15px 4px;
}

.article-wrap {
    margin: 10px 0px 0px 0px;
}

.header, .nav, .article{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.blok{
    margin-top: 10px;
}

/*--------------------------SETTING-------------------------------*/
.set{
    position: relative;
    width: 97%;
    padding: 10px;
    margin: 5px;
    top: 0px;
    right: 0px;
    border-radius: 9px;
    border: var(--border);
    box-shadow: var(--box-shadow-main);
    background: var(--bg-color-content);
}

.set_close{
    position: relative;
    width: 97%;
    height: 41px;
    padding: 10px;
    margin: 5px;
    top: 0px;
    right: 0px;
    overflow: hidden;
    border-radius: 9px;
    border: var(--border);
    box-shadow: var(--box-shadow-main);
    background: var(--bg-color-content);
}

.set_blok_lang{
    cursor: pointer;
    width: 200px;
    min-height: 30px;
    border-radius: 7px;
    border: 0px solid #cdcdcd;
    margin: -1px auto 37px auto;
}

.set_blok_lang:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px #c2c2c200;
}

.setting{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin: 2.5px;
    left: 0%;
    right: 100%;
    transition: 1s;
}

.setting_close{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin: 2.5px;
    left: 101%;
    right: 0%;
    transform: translateX(-45px);
    transition: 1s;
}

.setting i{
    font-size:24px;
    margin: -2px 0px 0px -10px;
}

.setting_close i{
    font-size:24px;
    margin: -2px 0px 0px -10px;
}

/*---------------------------skills---------------------------------*/

.skills-wrap{
    max-width: 395px;
    width: 100%;
}

/*--------------------------MESSENGER-------------------------------*/
.messenger{
    position: relative;
    width: 97%;
    padding: 10px;
    margin: 5px;
    top: 0px;
    right: 0px;
    border-radius: 9px;
    border: var(--border);
    box-shadow: var(--box-shadow-main);
    background: var(--bg-color-content);
}

.messenger_close{
    position: relative;
    width: 97%;
    height: 41px;
    min-height: 41px;
    padding: 10px;
    margin: 5px;
    top: 0px;
    right: 0px;
    overflow: hidden;
    border-radius: 9px;
    border: var(--border);
    box-shadow: var(--box-shadow-main);
    background: var(--bg-color-content);
}

.messenger_set1, .messenger_set2, .messenger_set3, .messenger_set4, .messenger_set5{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin: 2.5px;
    left: 0%;
    right: 100%;
    transition: 1s;
}

.messenger_set_close1, .messenger_set_close2, .messenger_set_close3, .messenger_set_close4, .messenger_set_close5{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin: 2.5px;
    left: 101%;
    right: 0%;
    transform: translateX(-45px);
    transition: 1s;
}

.messenger_set2, .messenger_set_close2{
    transition: 1.1s;
}
.messenger_set3, .messenger_set_close3{
    transition: 1.2s;
}
.messenger_set4, .messenger_set_close4{
    transition: 1.3s;
}
.messenger_set5, .messenger_set_close5{
    transition: 1.4s;
}

.messenger_set1 i{
    font-size:24px;
    margin: -2px 0px 0px -10px;
}

.messenger_set_close1 i{
    font-size:24px;
    margin: -2px 0px 0px -10px;
}

.messenger_wrap{
    margin: 15px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.4s;
}

.messenger .messenger_wrap{
    opacity: 1;
    transition: opacity 2s;
}

.messenger_top_150{
    top:0px!important;
}

.messenger_top_400{
    top:0px!important;
}

.mesenger_all_mess{
    margin: 0px;
}

.mesenger_list_wrap{
    width: 99%;
}

.mesenger_list_name {
    max-width: 205px;
    width: 100%;
}

.messenger_write_wrap {
    position: relative;
    width: 97%;
    margin: 0px auto;
    right: 0px;
    z-index: 2;
}

.messenger_write_body {
    width: 100%;
    border-radius: 9px;
}

.messenger_write_send_input {
    width: 90%;
}

.messenger_write_send_input > textarea {
    width: 100%;
}

.messenger_write_header_name {
    width: 65%;
}

.messenger_write_header_icon {
    width: 151px;
    height: 38px;
    float: right;
}

.messenger_write_header_icon > i {
    font-size: 16px;
    margin: 0px 12px;
}
/* 
.messenger_write_header_name > p{
    display: contents;
} */

.messenger_set_close1 > p, .messenger_set1 > p{
    top: 6px;
    width: 20px;
    left: 4px;
}

/*--------------------------smole-------------------------------*/

.smile-gtoup-box {
    width: 100%;
    height: 36px;
    justify-content: space-between;
}

.smile-gtoup-box > i:first-child {
    width: 25px;
    height: 25px;
    padding: 6px;
}

.smile-gtoup-box > i {
    width: 25px;
    height: 25px;
    padding: 6px;
}

.smile-gtoup-smile {
    width: 98%;
    height: 100%;
    min-height: 50px;
}

.smiles-list-box {
    width: 10%;
    height: 30px;
}

/*--------------------------friends-------------------------------*/

.wrap-all-friends{
    margin: 20px 10px;
}

.friend-full-wrap{
    width: 90%;
}

/*--------------------------resume-------------------------------*/

.resume-body{
    width: 89%;
}
.resume-show-wrap{
    width: 95%;
}
.resume-prwiew-blok {
    width: 120px;
    height: 160px;
}
.resume-prwiew-wrap {
    width: 100%;
    margin: 10px auto 20px auto;
}

.footer{
    max-width: 100%;
}

.main-footer-full{
    display: table;
}

.main-footer-small{
    display: none;
}

@media screen and (min-width:500px) and (max-width:766px){
    .messenger{width: 98%}
    .messenger_close{width: 98%}
    .set{width: 98%}
    .set_close{width: 98%}
    .login-message-autoris {
        bottom: 0%;
    }
    .messenger_write_wrap {width: 98%}
    .messenger_write_header_name {width: 55%}
}

@media screen and (min-width:400px) and (max-width:499px){
    .messenger{width: 97.5%}
    .messenger_close{width: 97.5%}    
    .set{width: 97.5%}
    .set_close{width: 97.5%}    
    .login-message-autoris {
        bottom: 0%;
        margin: 0px 15px 0px 10px;
    }
    .friend-full-wrap{
        width: 100%;
        min-width: 260px;
    }
    .messenger_write_wrap {width: 97.5%}
    .messenger_write_header_name {width: 45%}
}

@media screen and (max-width:400px){
    .login-message-autoris {
        bottom: -5%;
        margin: 0px 15px 0px 10px;
    }
    .friends-all-title {
        padding: 0px;
    }
    .friend-full-wrap{
        width: 100%;
        min-width: 260px;
    }
    .friends-name-title {
        min-width: 140px;
        min-height: 42px;
        padding: 12px 6px;
        align-items: center;
    }
    .friends-text-title {
        padding: 12px 6px;
        max-width: 100px;
    }
    .friend-full-img {
        max-height: 80%;
    }
    .friend-full-info{
        width: 60%;
    }
    .messenger_write_wrap {width: 96.5%}
    .messenger_write_send_input {width: 80%}
    .messenger_write_header_icon {width: 120px}
    .messenger_write_header_name {width: 40%}
    .messenger_write_header_icon > i {
        font-size: 14px;
        margin: 0px 9px;
    }
}




