@import url("css-info.css");
@import url("setting.css");

/* my varriables */
:root{
    --bg-color:#F1F1F1;
    --bg-color-content:#ffffff;
    --border-color-content:1px solid #2d5e8e;;
    --border-color-content-hover:1px solid #8bc3e9;
    --box-shadow-content:0px 0px 5px #6eb4ff;
    --border-radius-main:9px;
}

*{
    box-sizing: border-box;
}

body{
    padding: 10px 0px 0px 0px;
    margin: 0px;
    min-width: 300px;
    background: var(--bg-color);
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Marck Script', cursive; */
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Neucha', cursive; */
    /* font-family: 'Bad Script', cursive; */
}

/* grid */
.wrap{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 300px 450px 450px auto;
    grid-template-rows: 0px 120px auto auto 50px;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 side set set out2'
                         'out1 side nav nav out2'
                         'out1 side article article out2'
                         'blok blok blok blok blok'
                         'footer footer footer footer footer';
}

/* grid header */
.wrap_header{
    min-height: 70px;
    display: grid;
    grid-template-columns: auto 300px 450px 450px auto;
    grid-template-rows: auto;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 header header header out2';
}

.wrap_header_second{
    grid-area: header;
    padding: 14px;
    margin: 10px;
    background: #4c7fb3;
    border: 1px solid #4c7fb3;
    border-radius: var(--border-radius-main);
    box-shadow: var(--box-shadow-content);
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    border: 2px solid #ffffff;
    background: #2d5e8e;
    border-radius: var(--border-radius-main);
}

.header_logo, .header_search, .header_button{
    width: 33.3%;
    min-width: 280px;
    min-height: 90px;
    position: relative;
    display: flex;
    flex-wrap: wrap;   
    align-content: center;
}

/*logo*/
.header_logo img{
    width: 70%;
    height: 40px;
    margin: 10px 10px;
}

/*search*/
.header_search input{
    outline: 0 !important;
    width: 70%;
    height: 30px;
    margin: 0px auto;
    border: 2px solid #ffffff;
    border-radius: 7px;
    background: #dadada;
    text-align: center;
    font-weight: bold;
    color: #88b0dc;
}

.header_search input:focus{
    background: #ffffff;
}

.header_search input:focus::placeholder{
    color: transparent;
}

.header_search input::placeholder{
    text-align: center;
    font-weight: normal;
    color: grey;
}

/*-----------header-login------------*/
.header-login{
    outline: var(--ol-2);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.click{
    cursor: pointer;
    display: flex;
    height: 26px;
    margin: 19px 20px;
    float: right;
    color: #ffffff;
    font-weight: bold;
    background: linear-gradient(to bottom right, #13375a, #a3c1de, #143e67);
    border: 1px solid #ffffff;
    border-radius: 7px 15px;
    box-shadow: 0px 0px 5px #4a4a4a;
    text-shadow: 0px 0px 5px #111111;
    transition: 0.2s;
}

.click:hover{
    box-shadow: 0px 0px 8px #4a4a4a;
    text-shadow: 0px 0px 5px rgb(219, 58, 58);
    transition: 0.2s;
}

.click-login-open{
    width: 200px;
    margin: 2px 1px 2px 7px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.click-login-open input{
    width: 90px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    margin: 1px 4px;
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px solid #757575;
    opacity: 1;
    transition: 0.7s;
}

.click-login-close{
    width: 0px;
    margin: 2px 1px 2px 7px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.click-login-close input{
    opacity: 0;
    transition: 0.3s;
}

.click-login-exit{
    width: 0px;
    margin: 2px 1px 2px 7px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.click-login-exit input{
    opacity: 0;
    transition: 0.3s;
}


/* nav */
.nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin: 10px;
    border-radius:var(--border-radius-main);
    border:var(--border-color-content);
    box-shadow:var(--box-shadow-content);
    background: var(--bg-color-content);
}

.naw-wrap{
    padding: 7px;
    width: 100%;
    background: #f1f1f1;
    border: 1px solid #2d5e8e;
    border-radius: var(--border-radius-main);
}

/* article */
.article{
    grid-area: article;
    padding: 10px;
    margin: 10px;
    border-radius:var(--border-radius-main);
    border:var(--border-color-content);
    box-shadow:var(--box-shadow-content);
    background: var(--bg-color-content);
 }



/* style for settings */
.set{
    grid-area: set;
    position: fixed;
    right: 0px;
    top: 100px;
    width: 250px;
    background: #ffffff;
    border-left: 1px solid #99aabc;
    border-top: 1px solid #55728e;
    border-bottom: 5px solid #526e8c;
    border-radius: 0px 0px 0px 12px;
    box-shadow: 0px 0px 2px #697583;
    transition: 1s;
}

.set_close{
    grid-area: set;
    position: fixed;
    right: -2px;
    top: 100px;
    width: 0px;
    background: #ffffff;
    border-left: 1px solid #99aabc;
    border-top: 1px solid #55728e;
    border-bottom: 5px solid #526e8c;
    border-radius: 0px 0px 0px 12px;
    box-shadow: 0px 0px 0px #697583;
    transition: 1s;
}

.set_wrap{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
}

.set .set_wrap{
    opacity: 1;
    transition: opacity 2s;
}

.out1{
    grid-area: out1;
    min-width: 35px;
}

.out2{
    grid-area: out2;
    min-width: 35px;
}

.side{
    grid-area: side;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.blok{
    margin-top: 10px;
    grid-area: blok;
    background: #6d91b5;
    border-top: 3px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: var(--box-shadow-content);
}

.footer{
    grid-area: footer;
    background: #929292;
    margin-top: -1px;
}

.side_sub{
    padding: 10px;
    margin: 10px;
    display: table;
    border-radius:var(--border-radius-main);
    border:var(--border-color-content);
    box-shadow:var(--box-shadow-content) ;
    background: var(--bg-color-content);
}



