@import "formstyle.css";

/*blue*/
:root{
    /* --bg-color:#F1F1F1; */
    --bg-color-content:#ffffff;
    /* --border:1px solid #2d5e8e;
    --border-5px:5px solid #2d5e8e; */
    --border-2px:2px solid #616161;
    --border-15px:15px solid #e4e4e4;
    /* --main-font:'PT Sans', sans-serif; */
    /* --box-shadow-main:0px 0px 5px #5c8ab9; */
    /* --text-shadow-main:0px 0px 2px #5c8ab9; */
    /* --border-radius-main:9px 9px 9px 9px; */
    /* --button-background:linear-gradient(to bottom right, #13375a, #a3c1de, #143e67); */
    /* --main-color:#2d5e8e;
    --second-color:#5c8ab9; */
}

*{
    box-sizing: border-box;
}

body{
    padding: 10px 0px 0px 0px;
    margin: 0px;
    min-width: 300px;
    background: var(--bg-color);
    font-family: var(--main-font);
    overflow-x: hidden;
}

/* grid */
.wrap{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 300px 450px 450px auto;
    grid-template-rows: auto auto;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 side article article out2'
                         'blok blok blok blok blok';
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------HEADER-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* grid header */
.wrap_header{
    min-height: 70px;
    display: grid;
    grid-template-columns: auto 300px 450px 450px auto;
    grid-template-rows: auto;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 header header header out2';
}

.wrap_header_second{
    grid-area: header;
    padding: 14px;
    margin: 10px;
    background: var(--second-color);
    border: var(--border);
    border-radius: var(--border-radius-main);
    box-shadow: var(--box-shadow-main);
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    border: 2px solid #ffffff;
    background: var(--main-color);
    border-radius: var(--border-radius-main);
}

.header_logo, .header_search, .header_button{
    width: 33.3%;
    min-width: 280px;
    min-height: 90px;
    position: relative;
    display: flex;
    flex-wrap: wrap;   
    align-content: center;
}

.header_logo{
    order: 1;
}
.header_search{
    order: 2;
} 
.header_button{
    order: 3;
}

/*logo*/
.header_logo img{
    width: 70%;
    height: 40px;
    margin: 10px 10px;
}

/*search*/
.header_search input{
    outline: 0 !important;
    width: 70%;
    height: 30px;
    margin: 0px auto;
    border: 2px solid #ffffff;
    border-radius: 7px;
    background: #dadada;
    text-align: center;
    font-weight: bold;
    color: var(--main-color);
}

.header_search input:focus{
    background: #ffffff;
}

.header_search input:focus::placeholder{
    color: transparent;
}

.header_search input::placeholder{
    text-align: center;
    font-weight: normal;
    color: grey;
}

.header_search i{
    cursor: pointer;
    position: absolute;
    height: 26px;
    width: 20px;
    border-radius: 0px 7px 7px 0px;
    background: #9e9e9e;
    right: 15.5%;
    top: 32px;
    padding: 6px 5px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.header_search .user_list{
    width: 70%;
    min-height: 50px;
    max-height: 300px;
    position: absolute;
    padding: 10px 0px;
    overflow: auto;
    top: 70px;
    left: 15%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #2d5e8e;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 0px 0px 3px #dadada;
    z-index: 1;
}

.listusers-boks{
    background: var(--main-color);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    width: 96%;
    height: 49px;
    border-radius: 23px 10px 10px 23px;
    border: 1px solid #000000;
    text-shadow: 0px 0px 2px #000000;
    margin: 5px 2%;
    padding: 2px 0px 2px 0px;
    transition: 0.4s;
}

.listusers-boks:hover{
    background: var(--main-color);
    color: #ffffff;
    font-weight: normal;
    text-shadow: 0px 0px 2px #000000;
    box-shadow: var(--box-shadow-main);
    transition: 0.4s;
}

.listusers-img{
    width: 45px;
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 50% 50% 2px 50%;
    box-shadow: 0px 0px 4px #2d5e8e;
    background-size: cover;
    transition: 0.4s;
}

.listusers-boks p{
    margin: 0px 10px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

.listusers-boks:hover .listusers-img{
    display: block;
    border-radius: 50% 2px 50% 50%;
    transition: 0.4s;
}

.emodge{
    width: 100%;
    max-width: 200px;
    margin: 50px auto;
    margin-bottom:60px; 
    position: relative;
    opacity: 0.8;
}

.emodge img{
    width: 100%;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------LOGIN BUTTON------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
.header-login{
    outline: var(--ol-2);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.click{
    cursor: pointer;
    display: flex;
    height: 26px;
    margin: 10px 20px 19px 20px;
    float: right;
    color: #ffffff;
    font-weight: bold;
    background: var(--button-background);
    border: 1px solid #ffffff;
    border-radius: 7px 15px;
    box-shadow: 0px 0px 5px #4a4a4a;
    text-shadow: 0px 0px 5px #111111;
    transition: 0.2s;
}

.click:hover{
    box-shadow: 0px 0px 8px #4a4a4a;
    text-shadow: 0px 0px 5px rgb(219, 58, 58);
    transition: 0.2s;
}

.click-login-open{
    width: 200px;
    margin: 2px 1px 2px 7px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.click-login-open input{
    width: 50%;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    margin: 1px 4px;
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px solid #757575;
    opacity: 1;
    transition: 0.7s;
}

.click-login-close{
    width: 0px;
    margin: 2px 1px 2px 7px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.click-login-close input{
    opacity: 0;
    transition: 0.3s;
}

.click-login-exit{
    width: 0px;
    margin: 2px 1px 2px 7px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.click-login-exit input{
    opacity: 0;
    transition: 0.3s;
}

.registration{
    cursor: pointer;
    color: #ffffff;
    font-size: 11px;
    position: absolute;
    margin: 0px;
    right: 6%;
    bottom: 10%;
}

.registration:hover{
    font-weight: bold;
}

.login-message{
    position: absolute;
    bottom: 9%;
    right: 25%;
    font-size: 10px;
    margin: 0px;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px 5px;
    box-shadow: 0px 0px 2px white;
    background: var(--second-color);
}

.login-message-autoris{
    cursor: pointer;
    position: absolute;
    bottom: 9%;
    right: 4%;
    font-size: 12px;
    margin: 0px;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px #ffffff;
    border-bottom: 1px solid transparent;
    padding: 1px;
}
.login-message-autoris:hover{
    text-shadow: 0px 0px 2px #525252;
    border-bottom: 1px solid #ffffff;
    padding: 1px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------SETTING-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.set{
    grid-area: set;
    position: fixed;
    right: 0px;
    top: 100px;
    width: 250px;
    background: #ffffff;
    border-left: var(--border);
    border-top: var(--border);
    border-bottom: var(--border-5px);
    border-radius: 0px 0px 0px 12px;
    box-shadow: 0px 0px 2px #697583;
    transition: 1s;
}

.set_close{
    grid-area: set;
    position: fixed;
    right: -2px;
    top: 100px;
    width: 0px;
    background: #ffffff;
    border-left: var(--border);
    border-top: var(--border);
    border-bottom: var(--border-5px);
    border-radius: 0px 0px 0px 12px;
    box-shadow: 0px 0px 0px #697583;
    transition: 1s;
}

.set_wrap{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
}

.set .set_wrap{
    opacity: 1;
    transition: opacity 2s;
}

/*bloks in setting*/
.set_blok{
    width: 90%;
    position: relative;
    min-height: 30px;
    border-radius: 0px 37px 7px 17px;
    border: 1px solid #cdcdcd;
    margin: 30px auto;
    background: #ededed;
    border-bottom: 2px solid #2b2b2b;
    border-left: 1px solid #2b2b2b;
}

.set_blok_update {
    width: 250px;
    border-radius: 0px 0px 7px 7px;
    border: 1px solid #ffffff;
    background: #ffffff;
    border-top: 2px solid #676767;
}

.set_blok:hover{
    box-shadow: 0px 0px 2px #c2c2c2;
}

.set_blok_update:hover {
    box-shadow: 0px 0px 0px transparent;
}

/*bloks in setting for language*/
.set_blok_lang{
    cursor: pointer;
    width: 90%;
    min-height: 30px;
    border-radius: 7px;
    border: 0px solid #cdcdcd;
    margin: 7px auto;
}

.set_blok_lang:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px #c2c2c200;
}

.set_blok p{
    position: absolute;
    top: -21px;
    left: -1px;
    width: 120px;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 9px 17px 0px 0px;
    margin: 0px;
    padding: 2px 10px;
    background: #b33535;
    border: 1px solid #2b2b2b;
    text-shadow: 0px 0px 1px #111111;
}

.set_blok_update p {
    width: 101%;
    color: #000000;
    border-radius: 9px 17px 0px 0px;
    background: #ffffff;
    border: 1px solid #ffffff;
    text-shadow: 0px 0px 0px transparent;
}

/*label on click setting*/
.setting{
    cursor: pointer;
    position: absolute;
    right: 249px;
    top: -1px;
    height: 40px;
    width: 50px;
    color: #000000;
    padding: 6px 14px;
    background: var(--main-color);
    border: var(--main-color);
    border-radius: 9px 0px 0px 29px;
    box-shadow: -2px 0px 2px #000000;
    text-shadow: 0px 0px 10px #ff2727;
    z-index: 5;
    transition: 1s;
}
.setting_close{
    cursor: pointer;
    position: absolute;
    right: -1px;
    top: -1px;
    height: 40px;
    width: 50px;
    color: #111111;
    padding: 6px 14px;
    background: var(--main-color);
    border: var(--main-color);
    border-radius: 9px 0px 0px 29px;
    box-shadow: -2px 0px 2px #697583;
    text-shadow: 0px 0px 10px #0bff00;
    z-index: 5;
    transition: 1s;
}

.setting i{
    font-size:24px;
}
.setting_close i{
    font-size:24px;
}

/*blok language en*/
.lang_en{
    position: relative;
    width: 48%;
    height: 20px;
    border: 1px solid #6f6f6f;
    border-radius: 5px 19px;
    background: #ededed;
    float: right;
    margin: 1%;
    overflow: hidden;
    transition: 1s;
}

.lang_en > img{
    height: 100%;
    margin: 0px;
    float: left;
    border-radius: 2px 12px;
}

.lang_en > p {
    font-size: 12px;
    font-weight: bold;
    margin: 1px auto;
    text-align: center;
}

/*blok language ua*/
.lang_ua{
    position: relative;
    width: 48%;
    height: 20px;
    border: 1px solid #6f6f6f;
    border-radius: 19px 5px;
    background: #ededed;
    float: right;
    margin: 1%;
    overflow: hidden;
    transition: 1s;
}

.lang_ua > img{
    height: 100%;
    margin: 0px;
    float: right;
    border-radius: 12px 2px; 
}

.lang_ua > p {
    font-size: 12px;
    font-weight: bold;
    margin: 1px auto;
    text-align: center;
}

/*main style button*/
.main-style-btn{
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 10px;
    box-shadow: 0px 0px 4px #111111;
}

.main-style-btn:hover{
    box-shadow: 0px 0px 6px #111111;
}

.height-blok-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0px 13px 0px 3px;
    overflow: hidden;
}

.height-blok-set2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 26px;
    overflow: hidden;
}

/*style input type color*/
.height-blok-set2 input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 20%;
    height: 15px;
    background: #2b2b2b;
    border-radius: 5px;
}
.height-blok-set2 input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px 7px;
}
.height-blok-set2 input[type="color"]::-webkit-color-swatch {
	border: none;
}
.height-blok-set2 label {
    font-size: 11px;
    font-weight: bold;
}

.bg-blue{
    background: #2d5e8e;
}
.bg-green{
    background: #01ab01;
}
.bg-red{
    background: #dc0000;
}
.bg-yellow{
    background: #d6d600;
}
.bg-grey{
    background: grey;
}
.bg-custom{
    cursor: pointer;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border-top: 7px solid #12db00;
    border-bottom: 7px solid #e40000;
    border-left: 7px solid #0022e6;
    border-right: 7px solid #eeea00;
    margin: 10px;
    box-shadow: 0px 0px 4px #111111;
}

/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 5px grey; 
    border-radius: 10px;
    border:4px solid #c4c4c4;
    background: #c4c4c4;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--second-color); 
    border-radius: 10px;
    border:3px solid #c4c4c4;
  }

  .save-settings{
    cursor: pointer;
    width: 100%;
    display: flex;
    color: var(--main-color);
    margin-top: -25px;
    margin-bottom: 5px;
    justify-content: space-around;
  }


/*--------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------widgets------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*widgets*/  
.widget-head{
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.widget-body{
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column; 
}
.widget-blok{
    width: 200px;
    height: 16px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.widget-head-wrap{
    width: 100%;
    height: 16px;
    max-width: 200px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.widget-chack{
    width: 30px;
    height: 16px;
    text-align: center;
}
.widget-chack-last{
    padding: 2px 4px; 
    width: 70px;
    text-align: left;
}
.widget-chack-last2{
    padding: 2px 4px; 
    width: 70px;
    text-align: right;
}
.widget-head-text{
    width: 50%;
    text-align: right;
    padding: 0px 10px;
}
.widget-head-text2{
    width: 50%;
    text-align: left;
    padding: 0px 10px;

}
.widget-head-text-one{
    border-right: 1px solid #111111;
}

/*------skills------*/
.skills-conteiner{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}
.skills-title{
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 12px 10px;
}
.skills-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #9e9e9e;
    border-radius: 7px;
    padding: 3px 5px;
    margin: 5px auto;
    width: 48%;
    min-width: 250px;
    background: #f1f1f1;
}
.projects-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #9e9e9e;
    border-radius: 7px;
    padding: 3px 5px;
    margin: 5px auto;
    width: 48%;
    min-width: 250px;
    background: #f1f1f1;
}
.skills-wrap-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #9e9e9e;
    border-radius: 7px;
    padding: 3px 5px;
    margin: 5px auto;
    max-width: 250px;
    min-width: 250px;
    background: #f1f1f1;
}
.skills-boks{
    width: 90%;
    margin: 0px auto;
}
.skills-edit{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 30px;
    width: 10%;
    height: 35px;
}
.skills-edit i{
    cursor: pointer;
    font-size: 12px;
    margin: 0px 7px;
}

.skills-text{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 100%;
}
.skills-text p{
    margin: 0px;
    padding: 2px; 
    font-size: 12px;
    font-weight: bold;
}
.skills-range-wrap{
    width: 100%;
    height: 8px;
    border: 1px solid #9e9e9e;
    background: #ffffff;
    border-radius: 5px;
    margin: 5px auto;
}
.skills-range{
    width: 60%;
    height: 6px;
    background: var(--second-color);
}
.skills-add{
    cursor: pointer;
    font-size: 18px;
    position: relative;
    margin: 10px 47% 0px 47%;
}
.skills-title-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-edit-blok{
    display: flex;
    justify-content: space-between;
    width: 45px;
    height: 20px;
}
.skills-edit-blok i{
    cursor: pointer;
    font-size: 16px;
    margin: 1px 3px;
}
.skills-input{
    width: 100%;
    border-radius: 5px;
    outline: 0!important;
    border: 1px solid #9a9a9a;
    padding: 3px 5px;
    margin: 5px 0px;
}
.skills-line{
    width: 100%;
    height: 7px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: -9px;
}
.skills-line p{
    width: 9%;
    height: 7px;
    border-right: 1px solid #111111;
    margin: 0px;
}
.skills-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40px;
    margin: 5px auto;
}
.skills-button i{
    cursor:pointer;
}
.edit-skill-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 37px;
    /* outline: 1px solid red; */
}
.edit-skill-body{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 37px;
    /* outline: 1px solid red; */
}
.edit-skill-edit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    height: 37px;
    /* outline: 1px solid red; */
}
.edit-skill-edit i{
    cursor: pointer;
    font-size: 16px;
}
.edit-skill-name{
    width: 94%;
    margin: 0px 3%;
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px solid #a7a7a7;
    outline: 0!important;
}
.edit-skill-level{
    width: 94%!important;
    margin: 0px 3% 0px 3%!important;
}
.edit-skill-level2{
    width: 94%!important;
    margin: 3px 3% 0px 3%!important;
}
.skills-confirm-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 37px;
}
.skills-confirm-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 37px;
}
.skills-confirm-icon i{
    cursor: pointer;
    font-size: 18px;
}
.fa-trash-alt{
    transform: rotateY(180deg);
}
.project-header{
    font-weight: bold;
    font-size: 12px;
    margin: 5px 0px;
    text-align: justify;
}
.project-body{
    margin: 5px 0px;
    font-size: 12px;
    text-align: justify;
}
.projects-boks{
    width:100%; 
    background:#ffffff; 
    padding: 5px 10px;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------FOOTER MAIN PAGE---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.footer-main-info{
    width: 100%;
    min-width: 300px;
    height: 120px;
    background: #c5c5c5;
    padding-top: 30px;
    border-top: 2px solid #f3f3f3;
    box-shadow: 0px -2px 3px #c6c6c6;
}

.footer-copyright-links{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 150px;
    margin: 5px auto;
}

.footer-copyright-links a{
    color: #111111;
}

.footer-main-info p{
    text-align: center;
    font-size: 12px;
    margin: 0px;
    /* font-weight:bold;  */
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------NAV----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

.nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.naw-wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    min-height: 100px;
    background: #ffffff;
    border: var(--border);
    border-radius: var(--border-radius-main);
    box-shadow: var(--box-shadow-main);
}

.naw-body{
    width: 100%;
    padding: 15px;
    background: #f1f1f1;
    border: 1px solid #cccccc;
    border-radius: var(--border-radius-main);
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------ARTICLE-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.article{
    grid-area: article;
    margin: 0px;
    /* display: flex; */
    /* flex-flow: wrap; */
    /* flex-wrap: wrap; */
    /* min-height: 100vh; */
    justify-content: space-between;
 }

 .article-wrap{
    /* display: flex; */
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    /* width: 100%; */
    min-height: 60px;
    border-radius: var(--border-radius-main);
    border: var(--border);
    box-shadow: var(--box-shadow-main);
    background: var(--bg-color-content);
}

/*--------------------------------------------------------------------------------------------------------------------*/ 
/*----------------------------------------------------EMPTY SPACE-----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.out1{
    grid-area: out1;
    min-width: 35px;
}

.out2{
    grid-area: out2;
    min-width: 35px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------SIDE BAR-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.side{
    grid-area: side;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: start;
}

.side_sub{
    padding: 20px 10px;
    margin: 10px;
    width: 100%;
    display: table;
    position: relative;
    border-radius:var(--border-radius-main);
    border:var(--border);
    box-shadow:var(--box-shadow-main) ;
    background: var(--bg-color-content);
}

/*style info*/
.ava {
    width: 258px;
    height: 258px;
    margin: 0px auto;
    position: relative;
    border-radius: var(--border-radius-main);
    border: 8px solid #ffffff;
    background-size: cover;
    box-shadow: 0px 0px 2px #111111;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 50% 50%;
}

/* block info mame*/
.info {
    width: 100%;
    max-width: 280px;
    padding: 0px;
    margin: 0px auto;
}

.info-blok {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight:bold; 
    overflow: hidden;
    border: var(--border);
    border-radius: 7px;
    background: #ffffff;
}

.info-blok:hover {
    background: #ffffff;
    box-shadow: 0px 0px 5px #c9c9c9;
}

.info-blok p {
    margin: 5px;
}

.info-blok i {
    display: flex;
    align-items: center;
    margin: 0px 5px 0px 0px;
    padding: 5px 6px;
    width: 11%;
    color: #ffffff;
    background: var(--second-color);
    font-weight: bold;
}

/* create a pseudo class */
.info-blok-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:10px; 
    margin-bottom:20px; 
    width: 100%;
    height: 100%; 
    padding: 0px;
    border: 0px solid #d1d1d1;
    border-radius: 0px;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 2px #111111;
}

.info-blok-name p{
    font-size: 22px;
    font-weight: bold;
    margin: 0px;
}

.info-blok-text {
    display: flex;
    flex-wrap: wrap;
    width: 87%;
    padding: 0px;
    margin: 0px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------BLOK ON TOP FOOTER------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.blok{
    grid-area: blok;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.topfooter-wrap{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    min-height: 200px;
    background: var(--second-color);
    border-bottom: var(--border);
    border-top: var(--border);
    border-radius: 0px;
    margin-top: 20px;
    box-shadow: var(--box-shadow-main);
}


