.wrap{
    min-height: 100vh;
    display: grid;
    grid-template-columns:35px  300px auto auto 35px;
    grid-template-rows: 0px 120px auto auto 50px;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 side set set out2'
                         'out1 side nav nav out2'
                         'out1 side article article out2'
                         'blok blok blok blok blok'
                         'footer footer footer footer footer';
}

/*--------------------------HEADER-----------------------------*/
.wrap_header{
    min-height: 70px;
    display: grid;
    grid-template-columns: 35px 300px auto auto 35px;
    grid-template-rows: auto;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 header header header out2';
}

.header_logo, .header_search, .header_button{
    /* outline: 1px solid red;  */
    width: 50%;
    min-width: 280px;
    min-height: 50px;
}

.header_logo{
    order: 1;
}
.header_search{
    order: 3;
} 
.header_button{
    order: 2;
}

/*--------------------------EMPTY BLOKS-----------------------------*/
.out2{
    grid-area: out2;
}

.out1{
    grid-area: out1;
}

