.wrap{
    min-height: 100vh;
    display: grid;
    grid-template-columns:35px  300px auto auto 35px;
    grid-template-rows: auto auto;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 side article article out2'
                         'blok blok blok blok blok';
}

/*--------------------------HEADER-----------------------------*/
.wrap_header{
    min-height: 70px;
    display: grid;
    grid-template-columns: 35px 300px auto auto 35px;
    grid-template-rows: auto;   
    grid-gap: 1px; 
    grid-template-areas: 'out1 header header header out2';
}

.click {
    margin: 19px 20px;
}

.header_logo, .header_search, .header_button{
    width: 33.3%;
    min-width: 280px;
    min-height: 90px;

}

.header-login {
    padding: 10px 0px;
}
.header_logo img {
    margin: 10px 15%;
}
/*logo*/
.header_logo{
    order: 1;
}

/*search*/
.header_search{
    order: 2;
} 
.header_search i{
    right: 15.5%;
    top: 32px;
}
.header_search .user_list{
    top: 75px;
}


/*button*/
.header_button{
    order: 3;
}
.registration{
    bottom: 10%;
}
.login-message {
    right: 29%;
}
.login-message-autoris{
    right: 5%;
}

/*--------------------------EMPTY BLOKS-----------------------------*/
.out2{
    grid-area: out2;
}

.out1{
    grid-area: out1;
}


@media screen and (max-width:970px){
    .header_logo, .header_search, .header_button{
        display: flex;
        justify-content: space-around;
        width: 90%;
        min-width: 280px;
        min-height: 35px;
        max-width: 430px;
    }
    .header_button{
        padding-right: 6%;
        margin-top: -20px;
        margin-bottom: 10px;
    }

    .header-login {
        padding: 10px 0px;
    }
    
    .header_search{
        margin-bottom: 10px;
    }
    /*logo*/
    .header_logo{
        order: 1;
    }
    /*search*/
    .header_search{
        order: 3;
    } 
    /*button*/
    .header_button{
        order: 2;
    }
    .header_search i{
        right: 15.5%;
        top: 5px;
    }
    .header_search .user_list{
        top: 48px;
    }
    .registration {
        bottom: -2%;
        right: 16%;
    }
    .login-message {
        right: 32%;
        bottom: -3%;
    }
    .login-message-autoris{
        right: 14%;
    }
}