    <div class="footer-main-info">
        <div class="footer-copyright-links">
            <a href="#"><p id="footer-copyright-link-about"></p></a>
            <a href="/registration"><p id="footer-copyright-link-registr"></p></a>
            <a href="#"><p id="footer-copyright-link-news"></p></a>
        </div>
        <p id="footer-copyright-person"></p>
        <p>Copyright © 2019 <b>6b 61 6c 63 69 66 65 72</b></p>
    </div>