<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/formstyle.css">
            <!--Link stylesheet for icon-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
            <!--Link google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">   
        <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
        <title>6b 61 6c 63 69 66 65 72</title>
    </head>    
    
    <body style="background: hsl(0, 0%, 24%); font-family: 'PT Sans', sans-serif;">
        <div class="form_body_wrap">
            <a href="/"><img src="./img/logo.png" class="logo-form"></a>
        <!--BUTTON TO BACK-->
            <a href="/" style="color: #ffffff;"><p id="form_toback" class="form_toback"></p></a>
            <div class="facebook-wrap">
                    <div class="facebook-blok" >
                        <a href="/google"><img src="./img/google.png"></a>
                        <a href="/facebook"><img src="./img/instagram.png"></a>
                        <a href="/facebook"><img src="./img/facebook.png"></a>  
                    </div>
                </div>
            <div class="form_wrap">

                <!--login-->
                <div class="form_blok required-block">
                    <div class="form_label"><p id="reg-label-login"></p></div>
                    <div class="form_input required">
                        <input type="text" name="reg-login" id="reg-login" maxlength="20">
                    </div>
                    <div class="form_message"><span id="reg-login-mess" class="reg-message reg-message-r"></span></div>                    
                </div>
                <!--password-->
                <div class="form_blok required-block">
                    <div class="form_label password">
                        <p id="reg-label-password"></p>
                        <p id="reg-label-password-two"></p>
                    </div>
                    <div class="form_input password required">
                        <input type="password" name="reg-password" id="reg-password" maxlength="40">
                        <i class='far password_eye' onclick="VW.showPassword()">&#xf06e;</i>
                        <input type="password" name="reg-password-two" id="reg-password-two" maxlength="40">
                        <i class="far password_eye2" onclick="VW.showPassword()">&#xf06e;</i>
                    </div>
                    <div class="form_message password"><span id="reg-password-mess" class="reg-message reg-message-r"></span></div>                    
                </div>
                <!--name-->
                <div class="form_blok required-block">
                    <div class="form_label"><p id="reg-label-name"></p></div>
                    <div class="form_input required">
                        <input type="text" name="reg-name" id="reg-name" maxlength="20">
                    </div>
                    <div class="form_message"><span id="reg-name-mess" class="reg-message reg-message-r"></span></div>                    
                </div>
                <!--surname-->
                <div class="form_blok required-block">
                    <div class="form_label"><p id="reg-label-surname"></p></div>
                    <div class="form_input required">
                        <input type="text" name="reg-surname"  id="reg-surname" maxlength="20">
                    </div>
                    <div class="form_message"><p id="reg-surname-mess" class="reg-message reg-message-r"></p></div>   
                </div>
                <!--email-->
                <div class="form_blok required-block">
                    <div class="form_label"><p id="reg-label-email"></p></div>
                    <div class="form_input required">
                        <input type="email" name="reg-email"  id="reg-email" maxlength="30">
                    </div>
                    <div class="form_message"><p id="reg-email-mess" class="reg-message reg-message-r"></p></div>   
                </div>                
                <!--birthday-->
                <div class="form_blok">
                    <div class="form_label"><p id="reg-label-age"></p></div>
                    <div class="form_input">
                        <input type="date" name="reg-age"  id="reg-age">
                    </div>
                    <div class="form_message"><p id="reg-age-mess" class="reg-message"></p></div>  
                </div>
                <!--phone-->
                <div class="form_blok">
                    <div class="form_label"><p id="reg-label-tel"></p></div>
                    <div class="form_input">
                        <div class="tel_blok">
                            <select type="select" name="reg-tel_cod"  id="reg-tel_cod" class="tel_cod">
                                <option value="+38">+38</option>
                                <option value="+44">+44</option>
                            </select>
                            <input type="tel" name="reg-tel"  id="reg-tel" class="tel_nomer" maxlength="10">
                        </div>                        
                    </div>
                    <div class="form_message"><p id="reg-tel-mess" class="reg-message"></p></div> 
                    <div class="icon_share">
                        <i class='fas' onclick="SE.clonePhoneNumber()">&#xf24d;</i>
                    </div>
                </div>
                <!--message-->
                <div class="form_blok">
                    <div class="form_label"><p id="reg-label-message"></p></div>
                    <div class="form_input">
                        <div class="tel_blok">
                            <select type="select" name="reg-message_cod"  id="reg-message_cod" class="tel_cod">
                                <option value="+38">+38</option>
                                <option value="+44">+44</option>
                            </select>
                            <input type="tel" name="reg-message"  id="reg-message" class="tel_nomer" maxlength="10">
                        </div>
                    </div>
                    <div class="form_message"><p id="reg-message-mess" class="reg-message"></p></div>   
                </div>
                <!--country-->
                <div class="form_blok">
                    <div class="form_label"><p id="reg-label-country"></p></div>
                    <div class="form_input">
                        <select name="reg-country" id="reg-country">
                            <option disabled selected value id="select_empty"></option>
                            <option value="ukraine" id="ukraine"></option>
                            <option value="russian" id="russian"></option>
                            <option value="greatbritain" id="greatbritain"></option>
                            <option value="usa" id="usa"></option>
                        </select>
                    </div>
                    <div class="form_message"><p id="reg-country-mess" class="reg-message"></p></div>  
                </div>
                <!--town-->
                <div class="form_blok">
                    <div class="form_label"><p id="reg-label-town"></p></div>
                    <div class="form_input">
                        <select name="reg-town" id="reg-town">
                        </select>
                    </div>
                    <div class="form_message"><p id="reg-town-mess" class="reg-message"></p></div>   
                </div>
                <!--profession-->
                <div class="form_blok">
                    <div class="form_label"><p id="reg-label-profession"></p></div>
                    <div class="form_input">
                        <input type="text" name="reg-profession"  id="reg-profession" maxlength="90">
                    </div>
                    <div class="form_message"><p id="reg-profession-mess" class="reg-message"></p></div>   
                </div> 
                <!--education-->
                <div class="form_blok">
                    <div class="form_label"><p id="reg-label-education"></p></div>
                    <div class="form_input">
                        <input type="text" name="reg-education"  id="reg-education" maxlength="90">
                    </div>
                    <div class="form_message"><p id="reg-education-mess" class="reg-message"></p></div>   
                </div> 
                <!--file-->   
                <div class="form_blok">
                    <div class="form_label"><p id="reg-label-file"></p></div>
                    <div class="form_input" id="form_input">
                        <input type="file" name="reg-file" id="reg-file" value="reg-file" class="form_input_file inp-file"  accept=".jpg,.jpeg,.png"> 
                    </div>
                    <div class="form_message">
                        <p id="reg-file-mess" class="reg-message file-ava"></p>
                        <div id="reg-ava" class="reg-ava">
                            <i class='fas clear-input-foto' onclick="SE.clearFileInput()" >&#xf00d;</i>
                        </div>
                    </div>                      
                </div>  
                <!--send-->             
                <div class="form_blok_send">
                    <div class="form_label"><p id="reg-form-send" param="add" class="reg-form-send" style="color:#ffffff;"></p></div>
                 </div>               
                <!--main message form-->
                <p class="main-form-message" id="main-form-message"></p>
                <!--preview ava-->
                <div class="ava-preview-wrap"  id="ava-preview-wrap">
                    <div class="ava-preview-body">
                        <div class="ava-preview-foto-wrap">
                            <div class="ava-preview-foto" id="ava-preview-foto">
                                <input type="range" name="horizontally" id="horizontally" min="0" max="100" step="5" class="rande-hor" onchange="VW.rangeAvaFoto('h')">
                                <input type="range" name="vertical" id="vertical" min="0" max="100" step="5" class="rande-vert" onchange="VW.rangeAvaFoto('v')">
                            </div>
                        </div>
                    </div>
                    <div class="ava-preview-button-wrap">
                        <div class="ava-preview-button">
                            <div id="button-preview-form" class="button-preview-form" onclick="SE.confirmPreview('r')"></div>
                            <div id="button-preview-form-close" class="button-preview-form-close" onclick="SE.confirmPreviewClose('r')">
                                <i class='fas'>&#xf00d;</i>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>

    <!--SETTINGS-->
    <div class="set_close" id="set"> 
            <div class="setting_close" style="background:#44709c;" id="setting" onclick="VW.openSetting()">
                <i class="fa fa-gear fa-spin"></i>
            </div>
            <div class="set_wrap" id="set-wrap">
                <div class="set_blok_lang" style="border:0px solid" >
                    <div class="lang_en" id="lang_en" onclick='VW.changLang("en");'>
                        <img src="img/en.png" alt="EN">
                        <p>ENGLISH</p>
                    </div>
                    <div  class="lang_ua" id="lang_ua" onclick='VW.changLang("ua");'>
                        <img src="img/ua.png" alt="UA">
                        <p>УКРАЇНСЬКА</p>
                    </div>
                </div>                    
            </div>                   
        </div>   
        
<!--FOOTER-->
    <div class="footer-main-info reg-footer" style="background: transparent; border-top: 2px solid transparent; box-shadow: 0px -2px 3px transparent; color:#ffffff;">
        <%- include("./parts/footer.ejs") %>
    </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>        
        <script src="./js/towns.js"></script>
        <script src="./js/clear.js"></script>
        <script src="./js/proto.js"></script>
        <script src="./js/service.js"></script>
        <script src="./js/view.js"></script>
        <script src="./js/form.js"></script>
    </body>
    </html>