    <style>
        .wrap-aboutus{
            max-width: 1180px;
            min-height: 100px;
            margin: 20px auto;
            padding: 15px;
            background: #ffffff;
            border: 1px solid #9a9a9a;
            border-radius: var(--border-radius-main);
            display: flex;
            justify-content: space-around;
            box-shadow: 0px 0px 3px #919191;
        }
        .body-aboutus{
            width: 100%;
            border-radius: var(--border-radius-main);
            padding: 15px;
            background: #f1f1f1;
            border: 1px solid #bbbbbb;
            text-align: center;
        }
        .body-aboutus p{
            margin: 5px;
            font-size: 14px;
        } 
        .wrap-texhologii{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%; 
            max-width:500px;
            min-height: 40px;
            margin: 0px auto;
        }
        .texhologii-elem{
            min-width: 40px;
            min-height: 40px;
            position: relative;
            height: 100%;
            margin: 5px;
        }
        .texhologii-elem img{
            width: 40px;
        }
        
        @media screen and (max-width:1250px){
            .wrap-aboutus {
                margin: 20px 45px;
            }
        }       
        @media screen and (max-width:768px){
            .wrap-aboutus {
                margin: 20px 10px;
            }
        }
    </style>

        <div class="wrap-aboutus">
            <div class="body-aboutus">
                <p><b>Сайт розробляється в навчальних цілях</b></p>
                <p>При розробці використовувалися такі технології</p>
                <div class="wrap-texhologii">
                    <div class="texhologii-elem">
                        <img src="./img/technology/html.png" alt="HTML">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/css.png" alt="CSS">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/js.png" alt="JS">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/node.png" alt="NODE">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/express.png" alt="express">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/jquery.png" alt="jquery">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/sql.png" alt="sql">
                    </div>
                </div>
                <p>Також використовувалися такі ресурси</p>
                <div class="wrap-texhologii">
                    <div class="texhologii-elem">
                        <img src="./img/technology/git.png" alt="git">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/github.png" alt="github">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/vscod.png" alt="vscod">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/npm.png" alt="npm">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/heroku.png" alt="heroku">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/server.png" alt="server">
                    </div>
                </div>
                <br>
                <p>А також було використано модулі NPM</p>
                <p><b>-express- , -ejs- , -cookies- ,  -body-parser- , -axios- , -multer- , -mysql- , -transliteration-</b></p>
                <br>
                <p>Розробник сайту: <b>Свирид Володимир степанович</b></p>
                <p>Місце роботи: <b>Івано-Франківський національний медичний університет</b></p>
                <p>Посада: <b>Індженер-програміст</b></p>
                <br>
                <p>Інші проекти розробника</p> 
                <p><b>Сайт для ведення обліку заселення на базі відпочинку Арніка</b></p>               
                <a href="http://arnika-booking.ifnmu.edu.ua/"><p><b>arnika-booking.ifnmu.edu.ua</b></p></a>
                <div class="wrap-texhologii">
                    <div class="texhologii-elem">
                        <img src="./img/technology/html.png" alt="HTML">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/css.png" alt="CSS">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/js.png" alt="JS">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/php.png" alt="php">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/sql.png" alt="sql">
                    </div>
                </div>
                <p><b>Головний сайт Івано-Франківського Національного університету та інші сайти університету</b></p>
                <a href="http://ifnmu.edu.ua/"><p><b>ifnmu.edu.ua</b></p></a>
                <div class="wrap-texhologii">
                    <div class="texhologii-elem">
                        <img src="./img/technology/html.png" alt="HTML">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/css.png" alt="CSS">
                    </div>
                    <div class="texhologii-elem">
                        <img src="./img/technology/joomla.png" alt="joomla">
                    </div>
                </div>
                <p></p>
                <p></p>
        
            </div>
        </div>