    <style>
        .wrap-aboutus{
            max-width: 1180px;
            min-height: 100px;
            margin: 20px auto;
            padding: 15px;
            background: #ffffff;
            border: 1px solid #9a9a9a;
            border-radius: var(--border-radius-main);
            display: flex;
            justify-content: space-around;
            box-shadow: 0px 0px 3px #919191;
        }
        .body-aboutus{
            width: 100%;
            border-radius: var(--border-radius-main);
            padding: 15px;
            background: #f1f1f1;
            border: 1px solid #bbbbbb;
            text-align: center;
        }
        .body-aboutus p{
            margin: 5px;
            font-size: 14px;
        }       
        @media screen and (max-width:1250px){
            .wrap-aboutus {
                margin: 20px 45px;
            }
        }       
        @media screen and (max-width:768px){
            .wrap-aboutus {
                margin: 20px 10px;
            }
        }
    </style>

        <div class="wrap-aboutus">
            <div class="body-aboutus">
                <p><b>Сайт розробляється в навчальних цілях</b></p>
                <p>При розробці використовувалися такі технології</p>
                <div>

                </div>
                <p>Також було використано такі модулі NPM</p>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Розробник сайту: <b>Свирид Володимир степанович</b></p>
                <div>

                </div>
                <p>Місце роботи: <b>Івано-Франківський національний медичний університет</b></p>
                
                <p>Посада: <b>Індженер-програміст</b></p>
                
                <p>Інші проекти розробника</p>
                
                <p></p>
                <p></p>
                <p></p>
                <p></p>
        
            </div>
        </div>