    <style>
        .wrap-aboutus{
            max-width: 1180px;
            min-height: 100px;
            margin: 20px auto;
            padding: 15px;
            background: #ffffff;
            border: 1px solid #9a9a9a;
            border-radius: var(--border-radius-main);
            display: flex;
            justify-content: space-around;
            box-shadow: 0px 0px 3px #919191;
        }
        .body-aboutus{
            width: 100%;
            border-radius: var(--border-radius-main);
            padding: 15px;
            background: #f1f1f1;
            border: 1px solid #bbbbbb;
            text-align: center;
        }
        .body-aboutus p{
            margin: 5px;
            font-size: 14px;
        } 
        .wrap-texhologii{
            outline: 1px solid red;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%; 
            max-width:500px;
            min-height: 40px;
            margin: 0px auto;
        }
        .texhologii-elem{
            outline: 1px solid red;
            min-width: 40px;
            min-height: 40px;
            height: 100%;
            margin: 5px;
        }
        
        @media screen and (max-width:1250px){
            .wrap-aboutus {
                margin: 20px 45px;
            }
        }       
        @media screen and (max-width:768px){
            .wrap-aboutus {
                margin: 20px 10px;
            }
        }
    </style>

        <div class="wrap-aboutus">
            <div class="body-aboutus">
                <p><b>Сайт розробляється в навчальних цілях</b></p>
                <p>При розробці використовувалися такі технології</p>
                <div class="wrap-texhologii">
                    <div class="texhologii-elem"></div>
                    <div class="texhologii-elem"></div>
                    <div class="texhologii-elem"></div>
                    <div class="texhologii-elem"></div>
                    <div class="texhologii-elem"></div>
                    <div class="texhologii-elem"></div>
                    <div class="texhologii-elem"></div>
                    <div class="texhologii-elem"></div>
                    <div class="texhologii-elem"></div>
                    <div class="texhologii-elem"></div>
                </div>
                <br>
                <p>Також було використано модулі NPM</p>
                <p><b>-express- , -ejs- , -cookies- ,  -body-parser- , -axios- , -multer- , -mysql- , -transliteration-</b></p>
                <br>
                <p>Розробник сайту: <b>Свирид Володимир степанович</b></p>
                <p>Місце роботи: <b>Івано-Франківський національний медичний університет</b></p>
                <p>Посада: <b>Індженер-програміст</b></p>
                <br>
                <p>Інші проекти розробника</p>
                
                <p></p>
                <p></p>
                <p></p>
                <p></p>
        
            </div>
        </div>