<% if((vblogme === 'on') && (permissEdit === 'true')) {%>
    <div class="article-wrap">
        <% if(permissEdit === 'true') {%>
            <%- include("./articleeditbox.ejs") %>  
        <% } %>
        <div class="article-blog-wrap" id="article-blog-wrap" step="0"></div>
    </div> 
<% } %>


<% if((vblogall === 'on') && (permissEdit === 'false') && (permissAccess === 'true')) {%>
    <div class="article-wrap">
        <% if((permissionFriend === 'true') && (permissionisFriend === 'true'))  {%>
            <%- include("./articleeditbox.ejs") %>  
        <% } %>
        <div class="article-blog-wrap" id="article-blog-wrap"  step="0"></div>
    </div> 
<% } %>
  
