<div class="article-edit-box-wrap">
    <div class="article-edit-blog-wrap">
        <textarea class="article-blog-post" name="blog-post" id="blog-post"></textarea>
    </div>
    <div class="article-edit-box-button">
        <i class='far fa-paper-plane'></i>
        <i class='far fa-image'></i>
        <i class='fab fa-css3'></i>
    </div>
</div>