    <div class="wrap_header">
        <div class="wrap_header_second">
            <div class="header">
                <!--logo-->
                <div class="header_logo">
                    <a href="/"><img src="./img/logo.png"></a>
                </div>
                <!--search-->
                <div class="header_search">
                    <input type="text" placeholder="Пошук..." id="search" oninput="VW.showClearButton(), SE.showUsersList(this)">
                    <i class='fas' onclick="VW.clearSearch()" style="display: none" id="search_clear">&#xf00d;</i>
                    <div class="user_list" id="userlist"></div>
                </div>
                <!--button-->
                <div class="header_button">
                    <% if(permissAccess === 'false') {%>  
                        <div class="social-login-wrap">
                            <a href="/github"><img src="./img/github.png"></a>
                            <a href="/google"><img src="./img/google.png"></a>
                            <!-- <a href="/twitter"><img src="./img/twitter.png"></a> -->
                            <a href="/linkedin"><img src="./img/linkedin.png"></a>
                            <!-- <a href="/instagram"><img src="./img/instagram.png"></a> -->
                            <a href="/facebook"><img src="./img/facebook.png"></a>                            
                        </div>
                    <% } %>
                    <div class="header-login">
                        <% if(permissAccess === 'false') {%>
                        <!--button for enter-->
                        <div class="click">
                            <!--inputs-->
                            <div class="click-login-close" id="send-login-close">
                                <input type="text" id="login" autofocus autocomplete="off">
                                <input type="password" id="password" autocomplete="off">
                            </div>                            
                            <!--button-->
                            <div id="click" onclick="VW.buttonLogin()">
                                <div class="click-text" id="enter-open"><p style="margin: 1px 12px 0px 6px;" id="login_button"></p></div>
                            </div>             
                        </div>
                        <% } %>
                        <% if(permissAccess === 'true') {%>
                        <!--button for enter-->
                        <div class="click">
                            <!--inputs-->
                            <div class="click-login-close" id="send-login-close">
                                <!-- <input type="text" id="login" autofocus>
                                <input type="password" id="password"> -->
                            </div>                            
                            <!--button-->
                            <div id="click" onclick="SE.exit()">
                                <div class="click-text" id="enter-open"><p style="margin: 1px 12px 0px 6px;" id="login_button_exit"></p></div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% if(permissAccess === 'false') {%>
                        <p class="login-message"  id="login-message" style="display: none;"></p>
                    <% } %>
                    <% if(permissAccess === 'false') {%>  
                        <p id="registration" class="registration" onclick="SE.redirect('/registration')"></p>
                    <% } %>
                    <% if(permissAccess === 'true') {%>
                        <a href="/<%=permissUserid %>" class="login-message-autoris"><%=permissSurname %> <%=permissName %></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>