<div class="messenger_close" id="messenger">
    <div class="messenger_set_close2" id="messenger_set2" onclick="VW.openMessenger()">
    </div>
    <div class="messenger_set_close3" id="messenger_set3" onclick="VW.openMessenger()">
    </div>
    <div class="messenger_set_close4" id="messenger_set4" onclick="VW.openMessenger()">
    </div>
    <div class="messenger_set_close5" id="messenger_set5" onclick="VW.openMessenger()">
    </div>
    <div class="messenger_set_close1" id="messenger_set1" onclick="VW.openMessenger()">
        <i class="fas fa-comments"></i>
    </div>
    <p class="mesenger_all_mess" id="mesenger_all_mess"></p>
    <div class="messenger_wrap" id="messenger-wrap"></div>                   
</div> 