<div class="messenger_write_wrap" id="messenger_write">
    <div class="messenger_write_body">
        <div class="messenger_write_header">
            <div class="messenger_write_header_img"></div>
            <div class="messenger_write_header_name">
                <p>fghfghfgh</p>
                <p>fghfghfghfgh😡</p>
            </div>
            <div class="messenger_write_header_icon" id="messenger_write_header_icon">
                <i class='far fa-trash-alt'></i>
                <i class='fas fa-minus' onclick="MESSAGER.hiddenWriteBox()"></i>
                <i class='fas fa-times' onclick="SE.$('messenger_write').innerHTML = ''"></i>
            </div>
        </div>
        <div class="messenger_write_send_body" id="messenger_write_send_body">
            <div class="messenger_write_write" id="messenger_write_write"></div>
            <div class="messenger_write_send_wrap">
                <div class="messenger_write_send_input">
                    <textarea name="messenger_write_input" id="messenger_write_input" maxlength="255" oninput="MESSAGER.lengthText(this)"></textarea>
                </div>
                <div class="messenger_write_send_icon">
                    <p id="messenger_write_langth">255</p>
                    <i class='fas fa-paper-plane'></i>
                </div>   
            </div>  
        </div> 
        <div class="messenger_write_main_mess"></div>
    </div>
</div>
