<style>
    .wrap-news{
        max-width: 1180px;
        min-height: 100px;
        margin: 20px auto;
        padding: 15px;
        background: #ffffff;
        border: 1px solid #9a9a9a;
        border-radius: var(--border-radius-main);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-shadow: 0px 0px 3px #919191;
    }
    .body-news{
        width: 100%;
        border-radius: var(--border-radius-main);
        padding: 15px;
        margin: 4px 0px;
        background: #f1f1f1;
        border: 1px solid #bbbbbb;
    }
    @media screen and (max-width:1250px){
        .wrap-news {
            margin: 20px 45px;
        }
    }        
    @media screen and (max-width:768px){
        .wrap-news {
            margin: 20px 10px;
        }
    }
</style>
<div class="wrap-news">
    <div class="body-news">

    </div>
    <div class="body-news">

    </div>
    <div class="body-news">

    </div>    
        
</div>