<style>
    .wrap-news{
        max-width: 1180px;
        min-height: 100px;
        margin: 20px auto;
        padding: 15px;
        background: #ffffff;
        border: 1px solid #9a9a9a;
        border-radius: var(--border-radius-main);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-shadow: 0px 0px 3px #919191;
    }
    .blok-news{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        border-radius: var(--border-radius-main);
        margin: 4px 0px;
        background: #f1f1f1;
        border: 1px solid #bbbbbb;
    }
    .news-date{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 10%;
        min-height: 20px;
        padding: 7px 0px;
        text-align: center;
        background: #dedede;
    }
    .news-date p{
        margin: 0px;
        font-size: 14px;
        font-weight: bold;
    }
    .news-body{
        width: 90%;
        min-height: 20px;
        padding: 7px 11px;
        background: #f1f1f1;
    }
    .news-body p{
        margin: 0px;
        font-size: 14px;
    }
    @media screen and (max-width:1250px){
        .wrap-news {
            margin: 20px 45px;
        }
        .news-date{
            width: 15%;
        }
        .news-date p{
            font-size: 12px;
        }
        .news-body{
            width: 85%;
        }
        .news-body p{
            font-size: 13px;
        }
    }        
    @media screen and (max-width:768px){
        .wrap-news {
            margin: 20px 10px;
        }
        .news-date{
            width: 100%;
        }
        .news-date p{
            font-size: 13px;
        }
        .news-body{
            width: 100%;
        }
        .news-body p{
            font-size: 14px;
            text-align: center;
        }
    }
</style>
<div class="wrap-news">

    <div class="blok-news">
        <div class="news-date">
            <p>10.11.2019</p>
        </div>
        <div class="news-body">
            <p id="news-ten"></p>
        </div>
    </div>
    
    <div class="blok-news">
        <div class="news-date">
            <p>30.07.2019</p>
        </div>
        <div class="news-body">
            <p id="news-nine"></p>
        </div>
    </div>

    <div class="blok-news">
        <div class="news-date">
            <p>23.07.2019</p>
        </div>
        <div class="news-body">
            <p id="news-eight"></p>
        </div>
    </div>

    <div class="blok-news">
        <div class="news-date">
            <p>16.07.2019</p>
        </div>
        <div class="news-body">
            <p id="news-seven"></p>
        </div>
    </div>

    <div class="blok-news">
        <div class="news-date">
            <p>08.07.2019</p>
        </div>
        <div class="news-body">
            <p id="news-six"></p>
        </div>
    </div>

    <div class="blok-news">
        <div class="news-date">
            <p>02.07.2019</p>
        </div>
        <div class="news-body">
            <p id="news-five"></p>
        </div>
    </div>

    <div class="blok-news">
        <div class="news-date">
            <p>22.06.2019</p>
        </div>
        <div class="news-body">
            <p id="news-four"></p>
        </div>
    </div>

    <div class="blok-news">
        <div class="news-date">
            <p>19.06.2019</p>
        </div>
        <div class="news-body">
            <p id="news-three"></p>
        </div>
    </div>

    <div class="blok-news">
        <div class="news-date">
            <p>08.06.2019</p>
        </div>
        <div class="news-body">
            <p id="news-two"></p>
        </div>
    </div>

    <div class="blok-news">
        <div class="news-date">
            <p>01.06.2019</p>
        </div>
        <div class="news-body">
            <p id="news-one"></p>
        </div>
    </div>   
        
</div>