    <div class="set_close" id="set"> 
        <div class="setting_close" id="setting" onclick="VW.openSetting()">
            <i class="fa fa-gear fa-spin"></i>
        </div>
        <div class="set_wrap" id="set-wrap">
            <div class="set_blok_lang" style="border:0px solid" >
                <div class="lang_en" id="lang_en" onclick='VW.changLang("en");'>
                    <img src="img/en.png" alt="EN">
                    <p>ENGLISH</p>
                </div>
                <div  class="lang_ua" id="lang_ua" onclick='VW.changLang("ua");'>
                    <img src="img/ua.png" alt="UA">
                    <p>УКРАЇНСЬКА</p>
                </div>                
            </div>     
            <div class="set_blok">
                <p id="settings_style"></p>
                <div class="height-blok-set" style="height: 37px;">
                    <div class="main-style-btn bg-blue" onclick="VW.changeSettings('#2d5e8e', '#5c8ab9', '#F1F1F1')"></div>
                    <div class="main-style-btn bg-green" onclick="VW.changeSettings('#3aa54c', '#94de81', '#F1F1F1')"></div>
                    <div class="main-style-btn bg-red" onclick="VW.changeSettings('#ca2e23', '#ef837b', '#F1F1F1')"></div>
                    <div class="main-style-btn bg-yellow" onclick="VW.changeSettings('#ffe999', '#a78300', '#F1F1F1')"></div>
                    <div class="main-style-btn bg-grey" onclick="VW.changeSettings('#636363', '#c3c3c3', '#F1F1F1')"></div>
                    <div class="main-style-btn bg-custom" onclick="VW.customMainStyle()"></div>
                </div>
                <div class="height-blok-set2"  id="customcolor" style="display:none;">                             
                    <label for="bgcolor">bg</label><input type="color" name="bgcolor" id="bgcolor" value="#f1f1f1" onchange="VW.setCustomSettings('bgcolor', this, 's')">
                    <label for="bgcolor">m</label><input type="color" name="maincolor" id="maincolor" value="#2d5e8e" onchange="VW.setCustomSettings('maincolor', this, 's')">
                    <label for="bgcolor">s</label><input type="color" name="secondcolor" id="secondcolor" value="#5c8ab9" onchange="VW.setCustomSettings('secondcolor', this, 's')">
                </div>
            </div> 
            <div class="set_blok">
                <p id="settings_border"></p>
                <div class="height-blok-set add-height">
                    <input type="range" name="topleft" id="topleft" min="0" max="40" step="1" onchange="VW.setCustomSettings('topleft', this, 'r')">
                    <input type="range" name="topright" id="topright" min="0" max="40" step="1" onchange="VW.setCustomSettings('topright', this, 'r')">
                    <input type="range" name="bottomleft" id="bottomleft" min="0" max="40" step="1" onchange="VW.setCustomSettings('bottomleft', this, 'r')">
                    <input type="range" name="bottomright" id="bottomright" min="0" max="40" step="1" onchange="VW.setCustomSettings('bottomright', this, 'r')">
                </div>
            </div> 
            <div class="set_blok">
                <p id="settings_font"></p>
                <div class="height-blok-set" style="padding: 8px;">
                    <select name="fontselect" id="fontselect"  onchange="VW.setCustomSettings('font', this, 'f')">
                        <option value="ptsans">PT Sans</option>
                        <option value="caveat">Caveat</option>
                        <option value="marckscript">Marck Script</option>
                        <option value="lobster">Lobster</option>
                        <option value="neucha">Neucha</option>
                    </select>
                </div>
            </div> 
            <% if(permissEdit === 'true') {%>
            <div class="save-settings"><i style='font-size:20px;' class='fas' onclick="SE.saveSett()">&#xf0c7;</i></div>
            <p id="save-settings-mess" style="text-align: center; margin: 0px auto 9px auto; font-size: 12px;"></p>
            <% } %>
        </div>                   
    </div> 