<div class="side_sub">         
    <div class="skills-title-wrap">
        <p id="widget-skills-t" class="skills-title"></p>
        <% if(permissEdit === 'true') {%>
            <div class="skills-edit-blok">
                <div id="save-skills-btnclose"></div>
                <div id="save-skills-btn"></div>
                <i class='far fa-edit' id="edit-skills" onclick='SE.send({"userid":window.location.href}, "/showskills", WSKILLS.showEditSkillsList);'></i>
            </div>        
        <% } %>  
    </div>

    <div class="skills-conteiner drag-container" id="skills-conteiner">
        
        <!-- <div class="skills-wrap">   
            <div class="skills-boks">
                <div class="skills-text">
                    <% if(permissEdit === 'true') {%>
                        <input type="checkbox" name="skills-name-show" id="skills-name-show">
                    <% } %>  
                    <p>HTML</p>
                </div>
                <div class="skills-range-wrap">
                    <div class="skills-range"></div>
                </div>
            </div> 
            <% if(permissEdit === 'true') {%>
            <div class="skills-edit">
                <i class='far fa-edit'></i>
                <i class='far fa-trash-alt'></i>
            </div>    
            <% } %> 
        </div>      -->

        <!-- <div class="skills-wrap">   
            <div class="skills-boks">
                <div class="skills-text">
                    <p class="skills-name" id="skills-name">CSS</p>
                </div>
                <div class="skills-range-wrap">
                    <div  class="skills-range" id="skills-range" style="width: 10%;"></div>
                </div>
            </div> 
        </div>      -->



        <!-- <div class="skills-wrap">   
            <div class="skills-boks">
                <div class="skills-text">
                    <% if(permissEdit === 'true') {%>
                        <input type="checkbox" name="" id="">
                    <% } %>  
                    <p>JavaScript</p>
                </div>
                <div class="skills-range-wrap">
                    <div class="skills-range"></div>
                </div>
            </div> 
            <% if(permissEdit === 'true') {%>
            <div class="skills-edit">
                <i class='far fa-edit'></i>
                <i class='far fa-trash-alt'></i>
            </div>    
            <% } %> 
        </div>   -->
    </div>

    
    

    <% if(permissEdit === 'true') {%>
        <div id="skills-add-form">
            <i class='fas fa-plus skills-add' onclick="WSKILLS.showAddSkillsform()" id="skills-show-regform"></i>
        </div>
    <% } %>  

          
         
</div>