<div class="side_sub">         
    <% if(permissEdit === 'true') {%>
        <p id="town"><%=name %> <%=surname %></p>
    <% } %>  
    <p>fghfgh</p>
    <p>fghfghf</p>
    <p>fghfghfggfhf</p>
    <p>fghfghfghfghfghfg</p>
    <p>fghfgh</p>  
    <div class="skills-boks">        
        <div class="skills-text">
            <p>HTML</p>
        </div>
        <div class="skills-range-wrap">
            <div class="skills-range"></div>
        </div>
    </div>            
    <div class="skills-boks">        
        <div class="skills-text">
            <p>CSS</p>
        </div>
        <div class="skills-range-wrap">
            <div class="skills-range"></div>
        </div>
    </div>            
    <div class="skills-boks">        
        <div class="skills-text">
            <p>JavaScript</p>
        </div>
        <div class="skills-range-wrap">
            <div class="skills-range"></div>
        </div>
    </div>            
    <div class="skills-boks">        
        <div class="skills-text">
            <p>JavaScript</p>
        </div>
        <div class="skills-range-wrap">
            <div class="skills-range"></div>
        </div>
    </div>            
    <div class="skills-boks">        
        <div class="skills-text">
            <p>JavaScript</p>
        </div>
        <div class="skills-range-wrap">
            <div class="skills-range"></div>
        </div>
    </div>            
    <div class="skills-boks">        
        <div class="skills-text">
            <p>JavaScript</p>
        </div>
        <div class="skills-range-wrap">
            <div class="skills-range"></div>
        </div>
    </div>            
    <div class="skills-boks">        
        <div class="skills-text">
            <p>JavaScript</p>
        </div>
        <div class="skills-range-wrap">
            <div class="skills-range"></div>
        </div>
    </div>            
    <div class="skills-boks">        
        <div class="skills-text">
            <p>JavaScript</p>
        </div>
        <div class="skills-range-wrap">
            <div class="skills-range"></div>
        </div>
    </div>            
         
</div>